/* Header.css */
.header {
  padding: 20px;
  position: relative;
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.nav__link {
  color: #fff;
  text-decoration: none;
  padding: 10px 30px;
  border: 2px solid;
  border-color: #1c1c1e;
  border-radius: 40px;
  transition: background-color 0.3s, color 0.3s, border-radius 0.3s;
}

.nav__link:hover {
  background: #fff;
  color: #000;
}

.button__focus {
  border: 2px solid;
  border-radius: 40px;
  background: linear-gradient(#000, #000) padding-box,
    linear-gradient(45deg, #85ff71, #4bd4ff) border-box;
  animation: borderGradient 3s infinite;
}

@keyframes borderGradient {
  0% {
    border-image-source: linear-gradient(45deg, #85ff71, #4bd4ff);
  }
  50% {
    border-image-source: linear-gradient(45deg, #4bd4ff, #85ff71);
  }
  100% {
    border-image-source: linear-gradient(45deg, #85ff71, #4bd4ff);
  }
}

.burger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 1100;
}

.burger div {
  width: 30px;
  height: 3px;
  background-color: #fff;
  transition: all 0.3s;
}

.burger.open div {
  background-color: #000;
}

.burger.open div:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger.open div:nth-child(2) {
  opacity: 0;
}

.burger.open div:nth-child(3) {
  transform: rotate(-45deg) translate(9px, -9px);
}

@media (max-width: 768px) {
  .nav {
    display: none;
  }
  .burger {
    display: flex;
  }
}

.fullscreen-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1000;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fullscreen-menu.open {
  display: flex;
}

.fullscreen-menu__link {
  color: #000;
  text-decoration: none;
  font-size: 24px;
  padding: 20px 0;
}
